.tarjeta{
  margin: auto;
  width: 25%;
}
body{
  background: linear-gradient(140deg, rgb(253, 144, 248),rgb(236, 143, 174));
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-overflow: ellipsis;
}
.header{
  background-color: rgb(231, 31, 131);
}
.boton{
  background-color: rgb(231, 31, 131);
}
.boton:hover{
  background-color: rgb(182, 12, 97);
}
a{
  color: pink;
}
a:hover{
  color: rgb(235, 140, 235);
}
.drop_perfil{
  width: 40px;
  height: 40px;
  
}
.cuerpo{
  margin: auto;
  width: 90%;
}



/* Optional: Makes the sample page fill the window. */
#map {
  height: 300px;
  width: 100%;
}




.image-overlay {
border-radius: 4px;
position: absolute;
opacity: 0;
background: rgba(0, 0, 0, 0.7);
color: black;
height:100%;
width: 100%;
top: 0;
left: 0;
font-size: 50px;
text-align: center;
line-height: 300px;
cursor: pointer;
transition: opacity ease 0.5s;
}

.circle-icon {
height:80px;
width:80px;
border-radius: 50%;
background: #eee;
position: relative;
display: inline-block;
vertical-align: middle;
}
span{
  height:80px;
width:80px;
}
.thumbnail{
  background: #eee;
  position: relative;
  
}


.circle-icon span{
position: absolute;
margin-left: -22px;
margin-top: 10px;
}

.image-overlay:hover {
opacity: 1;
}

input[type=file]{
opacity: 0;
}
.divide{
  height:100%;
  width: 100%;
}